
/******Course Navigation css starts here******/
.course-nav > li > a {
    text-decoration: none;
    background: none;
    color: black;
    border: none;
}

.course-nav > li {
    margin-bottom: 5px;
    white-space: nowrap;
    cursor: pointer;
}

.course-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 120px;
    position: fixed;
    text-align: left;
    left: 120px;
    top: 80px;
}

.course-nav .active{
     background: none;
     color: red;
 }

.wd-nav-col-3 {
    width: 40%;
    position: relative;
    left: 370px;
    top: 40px;
}

.top-hamburger-nav {
    left: 3070px;
    top: 40px;
}